.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 112px;
  height: 100px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items > ul > li {
  margin-right: 20px;
  list-style-type: none;
  padding: 10px;
}

.res_card {
  width: 197px;
  height: 402px;
  margin: 20px;
  padding: 5px;
}
.res_card:hover {
  cursor: pointer;
  border: 1px solid #000;
}
.search {
  padding: 10px;
}

.res-logo {
  width: 207px;
  height: 116px;
  margin-left: -5px;
  margin-top: -4px;
}

.restaurant_container {
  display: flex;
  flex-wrap: wrap;
}
